*{
    box-sizing: border-box;
}
body{
    margin: 0;
    text-align: center;
    font-family: sans-serif;
}
.meme-container{
    margin-top: 16px;
    max-width: 440px;
    margin-inline: auto;
    padding: 20px;
    background-color: white;
    box-shadow:  0px 0px 12px rgba(0,0, 0, 0.25);
    border-radius: 8px;
}
.meme-title{
    margin: 0;
    font-size: 24px;
}
.author{
    margin-bottom: 0;
    font-size: 12px;
    margin: 8px 0px;
}
img{
    width: 100%;
    border-radius: 8px;
    margin-top: 10px;
}

button:active{
    background-color: green;
}
button{
    border: none;
    font: inherit;
    padding:  12px 16px;
    background-color: rgb(244, 108, 112);
    color: white;
    width: 100%;
    max-width: 440px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}

img:not([src]){
    display: none;
}